.fluid_player_layout_in-renderer-js {
  box-shadow: 1px 1px 1px rgb(97, 97, 97, 0.1);

  .ad_countdown {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    filter: drop-shadow(0px 0px 4px rgb(86, 86, 86));
  }

  .fluid_initial_play {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  video {
    position: relative;
    background: content-box
      radial-gradient(
        circle at center,
        rgb(237, 237, 237),
        rgba(218, 208, 208, 0.8)
      ) !important;
  }

  .fluid_button.fluid_button_volume {
    position: absolute;
    right: 17px;
    bottom: 13px;
    text-align: left;
    width: 24px;
    height: 24px;
    color: white;
    cursor: pointer;
    z-index: 20;
  }

  .fluid_button.fluid_button_mute {
    position: absolute;
    right: 17px;
    bottom: 13px;
    text-align: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: white;
    z-index: 20;
  }

  .fluid_button.fluid_button_volume::before {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    right: 5px;
    content: "";
    color: white;
    transition: opacity 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 4px rgb(109, 109, 109));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXZvbHVtZS0yIj48cGF0aCBkPSJNMTEgNC43MDJhLjcwNS43MDUgMCAwIDAtMS4yMDMtLjQ5OEw2LjQxMyA3LjU4N0ExLjQgMS40IDAgMCAxIDUuNDE2IDhIM2ExIDEgMCAwIDAtMSAxdjZhMSAxIDAgMCAwIDEgMWgyLjQxNmExLjQgMS40IDAgMCAxIC45OTcuNDEzbDMuMzgzIDMuMzg0QS43MDUuNzA1IDAgMCAwIDExIDE5LjI5OHoiLz48cGF0aCBkPSJNMTYgOWE1IDUgMCAwIDEgMCA2Ii8+PHBhdGggZD0iTTE5LjM2NCAxOC4zNjRhOSA5IDAgMCAwIDAtMTIuNzI4Ii8+PC9zdmc+");
  }

  .fluid_button.fluid_button_mute::before {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
    right: 5px;
    content: "";
    color: white;
    transition: opacity 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 4px rgb(86, 86, 86));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXZvbHVtZS1vZmYiPjxwYXRoIGQ9Ik0xNiA5YTUgNSAwIDAgMSAuOTUgMi4yOTMiLz48cGF0aCBkPSJNMTkuMzY0IDUuNjM2YTkgOSAwIDAgMSAxLjg4OSA5Ljk2Ii8+PHBhdGggZD0ibTIgMiAyMCAyMCIvPjxwYXRoIGQ9Im03IDctLjU4Ny41ODdBMS40IDEuNCAwIDAgMSA1LjQxNiA4SDNhMSAxIDAgMCAwLTEgMXY2YTEgMSAwIDAgMCAxIDFoMi40MTZhMS40IDEuNCAwIDAgMSAuOTk3LjQxM2wzLjM4MyAzLjM4NEEuNzA1LjcwNSAwIDAgMCAxMSAxOS4yOThWMTEiLz48cGF0aCBkPSJNOS44MjggNC4xNzJBLjY4Ni42ODYgMCAwIDEgMTEgNC42NTd2LjY4NiIvPjwvc3ZnPg==");
  }

  .fluid_ad_playing {
    background: none;
    top: 4px !important;
    left: 4px !important;
    font-size: 15px;
    filter: drop-shadow(0px 0px 4px rgb(86, 86, 86));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding: 13px;
    color: white;
  }

  .ad_end_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ad_replay {
    position: relative;
    cursor: pointer;
    color: white;
    text-align: center;
    filter: drop-shadow(2px 1px 4px rgb(170, 170, 170));
    padding: 10px;
    font-size: 14px;
  }

  .ad_replay_icon {
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
    height: 36px;
    color: white;
    transition: opacity 0.3s ease-in-out;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMS43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yb3RhdGUtY2N3Ij48cGF0aCBkPSJNMyAxMmE5IDkgMCAxIDAgOS05IDkuNzUgOS43NSAwIDAgMC02Ljc0IDIuNzRMMyA4Ii8+PHBhdGggZD0iTTMgM3Y1aDUiLz48L3N2Zz4=");
  }

  .vast_clickthrough_layer {
    z-index: 11;
  }

  @media (max-width: 500px) {
    .vast_clickthrough_layer {
      height: 50px !important;
    }
  }
}
